# ignore all logs, env
*.log
*.env

# ignore .env
.env

# ignore DDBB folder
DB

# ignore notebooks
*.ipynb

# ignore pycache
__pycache__/

# ignore db_draft.txt
db_draft.txt

# ignore old scripts
old_scripts

# ignore csv files in data folder
data/*.csv
