# ignore all logs, env
*.log
*.env

# ignore .env
.env

# ignore DDBB folder
DDBB

# ignore notebooks
*.ipynb

# ignore pycache
__pycache__/

# ignore ddbb_draft.txt
ddbb_draft.txt

# ignore old scripts
old_scripts

# ignore csv files in data folder
data/*.csv
